OrderManagement/Domains/OrderManagement/BusinessResources/Schemas/Portability/PortINPRFOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="PortINPRFOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProvNumber" type="xs:string"/>
				<xs:element name="OCId" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>