OrderManagement/Domains/OrderManagement/BusinessResources/Schemas/OrderComponent/OrderComponentResponseInput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://vodafone.com.tr/OrderManagment/Business/OrderComponent/OrderComponentResponseInput/v1"
	 xmlns:ns0="http://vodafone.com.tr/ServiceCatalog/ServiceReply"
	 targetNamespace="http://vodafone.com.tr/OrderManagment/Business/OrderComponent/OrderComponentResponseInput/v1"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://vodafone.com.tr/ServiceCatalog/ServiceReply" schemaLocation="../../../../ServiceCatalog/BusinessResources/Schemas/ServiceReply.xsd"/>
	<xs:element name="Request" type="Request"/>
	<xs:complexType name="Request">
		<xs:sequence>
			<xs:element name="OcDetails" type="OcDetails"/>
			<xs:element name="ServiceReply" type="ns0:ServiceReply"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OcDetails">
		<xs:sequence>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="Scenario" type="xs:string"/>
			<xs:element name="OrderId" type="xs:string"/>
			<xs:element name="MasterOrderId" type="xs:string" minOccurs="0"/>
			<xs:element name="CorrelationID" type="xs:string"/>
			<xs:element name="Cartridge">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="xs:string"/>
						<xs:element name="Version" type="xs:string"/>
						<xs:element name="Source" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>